<main class="container">
    <div class="content">
        <div class="landing">
            <div class="row">
                <div class="container-slider">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="https://c1.staticflickr.com/3/2771/4394262159_bd62430036_b.jpg">
                            </div>

                            <div class="item">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/1/1f/Tokyo_taxi.JPG">
                            </div>

                            <div class="item">
                                <img src="http://il9.picdn.net/shutterstock/videos/6128756/thumb/2.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 buttons">
                        <a class="btn btn-primary btn-land" ui-sref="map"><i class="fa fa-map-o" aria-hidden="true"></i> Map</a>
                        <a class="btn btn-primary btn-land" ui-sref="statistics"><i class="fa fa-area-chart" aria-hidden="true"></i> Statistics</a>
                    </div>
                </div>
            </div>
            <div class="row content">
                <div class="col-xs-12 top-container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 img-container">
                            <img src="assets/images/blue-traffic-sign.png">
                        </div>
                        <div class="col-xs-12 col-sm-6 text-container">
                            <h3>Alert today – Alive tomorrow</h3>
                            <div class="top-line"></div>
                            <p>
                                Montgomery County Gov. has launched first online platform with public data and statistics about our traffic violations. It contains information from all electronic traffic violations issued in the County. Any information that can be used to uniquely identify the vehicle, the vehicle owner or the officer issuing the violation will not be published.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 bottom-container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 text-container" id="text">
                            <h3>Normal speed meets every need</h3>
                            <div class="bottom-line"></div>
                            <p>
                                We offer you those data from an easy and pleasant point of view. We hope you will be aware of our county's traffic and maybe you will avoid unpleasant incidents. We offer you statistics graphs about the brutality of some incidents grouped by day or by month and a map with places where those incidents occured.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 img-container" id="img">
                            <img src="assets/images/red-traffic-sign.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    $(document).ready(function(){
        $("#myCarousel").carousel({
            interval : 20000,
            pause: false
        });
    });
</script>