<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="assets/images/countyseal.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{'active': $state.current.name == 'map'}">
                    <a ui-sref="map">
                        <i class="fa fa-map-o" aria-hidden="true"></i>
                        Map
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li ng-class="{'active': $state.current.name == 'statistics'}">
                    <a ui-sref="statistics">
                        <i class="fa fa-area-chart" aria-hidden="true"></i>
                        Statistics
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>