<div ng-include="'app/components/shared/header.html'"></div>

<main class="container details">
    <div class="content">
        <div class="row" ng-if="$state.current.name == 'details' && violation">
            <div class="col-xs-12 col-sm-6">
                <div id="map">
                    <ui-gmap-google-map center="map.center" zoom="map.zoom">
                        <ui-gmap-marker
                                idKey="1"
                                coords="{latitude: violation.geolocation.coordinates[1], longitude: violation.geolocation.coordinates[0]}">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Date of stop</td>
                        <td>{{violation.date_of_stop | date:'yyyy/MM/dd'}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{violation.description}}</td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>{{violation.location}}</td>
                    </tr>
                    <tr>
                        <td>Accident</td>
                        <td>
                            <i class="fa fa-check" aria-hidden="true" style="color: green;" ng-if="violation.accident == 'Yes'"></i>
                            <i class="fa fa-remove" aria-hidden="true" style="color: red;" ng-if="violation.accident == 'No'"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Belts</td>
                        <td>
                            <i class="fa fa-check" aria-hidden="true" style="color: green;" ng-if="violation.belts == 'Yes'"></i>
                            <i class="fa fa-remove" aria-hidden="true" style="color: red;" ng-if="violation.belts == 'No'"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Personal Injury</td>
                        <td>
                            <i class="fa fa-check" aria-hidden="true" style="color: green;" ng-if="violation.personal_injury == 'Yes'"></i>
                            <i class="fa fa-remove" aria-hidden="true" style="color: red;" ng-if="violation.personal_injury == 'No'"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Property Damage</td>
                        <td>
                            <i class="fa fa-check" aria-hidden="true" style="color: green;" ng-if="violation.property_damage == 'Yes'"></i>
                            <i class="fa fa-remove" aria-hidden="true" style="color: red;" ng-if="violation.property_damage == 'No'"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Fatal</td>
                        <td>
                            <i class="fa fa-check" aria-hidden="true" style="color: green;" ng-if="violation.fatal == 'Yes'"></i>
                            <i class="fa fa-remove" aria-hidden="true" style="color: red;" ng-if="violation.fatal == 'No'"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Hazardous Materials</td>
                        <td>
                            <i class="fa fa-check" aria-hidden="true" style="color: green;" ng-if="violation.hazmat == 'Yes'"></i>
                            <i class="fa fa-remove" aria-hidden="true" style="color: red;" ng-if="violation.hazmat == 'No'"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Alcohol</td>
                        <td>
                            <i class="fa fa-check" aria-hidden="true" style="color: green;" ng-if="violation.alcohol == 'Yes'"></i>
                            <i class="fa fa-remove" aria-hidden="true" style="color: red;" ng-if="violation.alcohol == 'No'"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3 text-right">
                <div class="btn btn-primary">Share on Facebook</div>
            </div>-->
        </div>
    </div>
</main>
