body .details{
  width:100%;
}

.details{
  background-color: #fff;
  .content{
    padding-top: 15px;
  }
  table{
    border-spacing: 12px;
    border-collapse: collapse;
    width:100%;
    margin:0 auto;
    thead > tr > th,
    tbody > tr >td{
      width:50%;
      height:25px;
      padding: 0 5px;
    }
    tbody > tr >td:first-child{
      position: absolute;
    }
    tbody tr:nth-of-type(2n) {background-color: #f0f0f0;}
  }
  .btn-primary{
    margin-bottom: 10px;
    padding: 5px 10px;
  }
}

/*Media*/
/*@media screen and (max-width:767px){
  tbody > tr >td:first-child, thead > tr > th{
    display: none;
  }
}*/
/*@media screen and (max-width: 1024px){
  table{
    width:90%!important;
  }
}*/

/*End media*/