html{
  body .error{
    margin-top: -51px;
  }
  .error{
    img{
      width: 100%;
      height: 100vh;
      margin: auto;
      object-fit: cover;
    }
    .text{
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.5);
      text-align: center;
      font-weight: 600;
      p{
        color:red;
        font-size:30px;
        margin: 10px;
      }
    }
  }
}