
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:active {
  background-color: initial;
  color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color:white;
}
.navbar-default, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #3194b3;
}

.navbar-nav a:focus,
.navbar-nav a:hover,
.navbar-nav li.active a{
  background-color: white !important;
  color: #3194b3 !important;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color:#fff!important;
}
.navbar-brand img {
  width: 45px;
  height: 45px;
  margin-top: -13px;
}
.navbar-nav .active{
  background-color: #dadada !important;
}