@import url(//fonts.googleapis.com/css?family=Open+Sans);

html{
  background-color: #fff;
  body{
    margin-top: 51px;
    font-family: 'Lato', sans-serif;
  }
}


@media screen and (min-width:1025px){
  body .container.map,
  body .container.details{
    overflow:hidden;
    height: 100%;
    padding-top: 51px;
    margin-top: -51px;
  }
}
body .container.statistics{
  overflow:hidden;
  height: 100%;
  padding-top: 51px;
  margin-top: -51px;
}