html body .landing{margin-top: -51px;}
.container {
  width: 100%;
/*Landing page*/
  .landing {
    .flex {
      display: flex;
    }
    /*Carousel*/
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      width: 100%;
      height: 400px; /*for Safari*/
      height: 50vh;
      margin: auto;
      object-fit: cover;
    }
    .buttons{
      position: absolute;
      bottom:0;
      top:40%;
      text-align:center;
      .btn-land{
        background-color: #3194b3;
        border-color: #3194B3;
        margin: 10px;
        width: 100px;
        padding: 8px 16px;
      }
      .btn-land:hover,
      .btn-land:active,
      .btn-land:visited{
        background-color: #337ab7;
        border-color: #2e6da4;
      }
    }

    /*.social {
       color: #fff;
       background-color: #808080;
       opacity: 0.5;
       right: 0;
       position: absolute;
       top: 0;
       .fa{
         padding:10px;
         cursor: pointer;
       }
       .fa:hover{
         color: #0000ff;
       }
     }*/
    .container-slider {
      position: relative;
    }
    /*End carousel*/
    /*Containers with photo and text*/
    .content {
      .top-container {
        padding:20px;
        margin: 20px 0 0 0;
        /*display: flex;*/
        .top-line{
          border-bottom: 2px solid #3194B5;
          margin-bottom: 20px;
        }
      }
      .bottom-container{
        padding:20px;
        background-color: #3194B5;
        color: #fff;
        .bottom-line{
          border-bottom: 2px solid #fff;
          margin-bottom: 20px;
        }
      }
      .img-container {
        text-align: center;
        margin: 0;
        padding: 50px;
        img {
          width: 200px;
          height:200px;
        }
      }
      .text-container {
        margin: 0;
        padding: 50px;
      }
    }
    /*End containers with photo and text*/
  }
  /*End landing page*/

  /*Map page*/

  /*End map page*/
}

/*Media*/

@media screen and (max-width: 767px){
  .bottom-container {
    .row{
      display: inline-grid;
    }
    #text{
      order:2;
    }
    #img{
      order:1;
    }
  }
}

/*End media*/