.map {
  width: 100%;
  /*.social {
    color: #fff;
    background-color: #808080;
    opacity: 0.5;
    float: right;
    margin-right: -15px;
    .fa {
      padding: 10px;
      cursor: pointer;
    }
    .fa:hover {
      color: #0000ff;
    }
  }*/
  md-content.md-default-theme, md-content { background-color: white; }
  .user {
    display: none;
    float: right;
    padding: 10px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      border: 1px solid #dadada;
    }
  }

  #map {
    width: 100%;
    background-color: #3194B5;

  }
  .angular-google-map-container{
    width:100%;
    height:300px;
    height: 50vh;
   /* width: 100vw;*/
  }
  .traffic {
    text-align: center;
    margin: 10px;
    .low-title {
      font-size: 14px;
      font-weight: 600;
    }
    .description {
      text-align: center;
    }
  }
  /*Date picker*/

  .layout-padding, .layout-padding-gt-sm, .layout-padding-gt-sm > *, .layout-padding-md, .layout-padding-md > *, .layout-padding > *, .layout-padding > .flex, .layout-padding > .flex-gt-sm, .layout-padding > .flex-md {
    padding: 10px 0 !important;
  }

  /*End date picker*/

  /*Switch buttons*/
  .remove-btn{
    text-align: left;
    padding: 20px 10px;
    span{
      outline:none;
    }
  }
  .picker{
    text-align: left;
    padding-left: 10px;
  }
  md-switch {
    display: inline-block;
    .md-container {
      float: right;
    }
    .md-label {
      margin: -2px 10px;
    }
  }
  /*red*/
  md-switch.red .md-thumb {
    color: #fc6355; /*not selected switch color*/
  }

  md-switch.red.md-checked .md-thumb {
    background-color: #fc6355;/* selected switch color */
  }

  md-switch.red[disabled] .md-thumb {
    background-color: rgb(0,0,0);/* disabled switch color */
  }
  md-switch.red .md-bar {
    background-color: #dadada; /*/ set not selected bar color /*/
  }

  md-switch.red.md-checked .md-bar {
    background-color: #fc6355; /*/ set selected bar color /*/
  }

  md-switch.red[disabled] .md-bar {
    background-color: rgb(0, 0, 0); /*/ set disabled bar color /*/
  }

  /*orange*/
  md-switch.orange .md-thumb {
    color: #ff9900; /*not selected switch color*/
  }

  md-switch.orange.md-checked .md-thumb {
    background-color: #ff9900;/* selected switch color */
  }

  md-switch.orange[disabled] .md-thumb {
    background-color: rgb(0,0,0);/* disabled switch color */
  }
  md-switch.orange .md-bar {
    background-color: #dadada; /*/ set not selected bar color /*/
  }

  md-switch.orange.md-checked .md-bar {
    background-color: #ff9900; /*/ set selected bar color /*/
  }

  md-switch.orange[disabled] .md-bar {
    background-color: rgb(0, 0, 0); /*/ set disabled bar color /*/
  }

  /*yellow*/
  md-switch.yellow .md-thumb {
    color: #fcf357; /*not selected switch color*/
  }

  md-switch.yellow.md-checked .md-thumb {
    background-color: #fcf357;/* selected switch color */
  }

  md-switch.yellow[disabled] .md-thumb {
    background-color: rgb(0,0,0);/* disabled switch color */
  }
  md-switch.yellow .md-bar {
    background-color: #dadada; /*/ set not selected bar color /*/
  }

  md-switch.yellow.md-checked .md-bar {
    background-color: #fcf357; /*/ set selected bar color /*/
  }

  md-switch.yellow[disabled] .md-bar {
    background-color: rgb(0, 0, 0); /*/ set disabled bar color /*/
  }

  /*green*/
  md-switch.green .md-thumb {
    color: #00e13c; /*not selected switch color*/
  }

  md-switch.green.md-checked .md-thumb {
    background-color: #00e13c;/* selected switch color */
  }

  md-switch.green[disabled] .md-thumb {
    background-color: rgb(0,0,0);/* disabled switch color */
  }
  md-switch.green .md-bar {
    background-color: #dadada; /*/ set not selected bar color /*/
  }

  md-switch.green.md-checked .md-bar {
    background-color: #00e13c; /*/ set selected bar color /*/
  }

  md-switch.green[disabled] .md-bar {
    background-color: rgb(0, 0, 0); /*/ set disabled bar color /*/
  }

  /*blue*/
  md-switch.blue .md-thumb {
    color: #5781fc; /*not selected switch color*/
  }

  md-switch.blue.md-checked .md-thumb {
    background-color: #5781fc;/* selected switch color */
  }

  md-switch.blue[disabled] .md-thumb {
    background-color: rgb(0,0,0);/* disabled switch color */
  }
  md-switch.blue .md-bar {
    background-color: #dadada; /*/ set not selected bar color /*/
  }

  md-switch.blue.md-checked .md-bar {
    background-color: #5781fc; /*/ set selected bar color /*/
  }

  md-switch.blue[disabled] .md-bar {
    background-color: rgb(0, 0, 0); /*/ set disabled bar color /*/
  }
  /*End switch buttons*/
}

/*Media*/

@media screen and (max-width: 767px) {
  .map {
    .traffic {
      text-align: left !important;
      margin: 10px 0 !important;
      .calendar {
        padding: 0;
      }
    }
  }
}
/*End media*/

.angular-google-map-container {
  height: 50vh;
  width: 100%;
}