.statistics{
  md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar{
    color: #3194B5!important;
    background-color: #3194B5!important;
  }
  md-content.md-default-theme, md-content{
    background-color:#fff!important;
  }
}