<div ng-include="'app/components/shared/header.html'"></div>

<main class="container statistics">
    <div class="row">
        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="brutality">
                        <md-content class="md-padding">
                            <!--<p ng-click="setViewDaily(true)">View daily</p>
                            <p ng-click="setViewDaily(false)">View monthly</p>-->

                            <div class="row" ng-if="!viewCharts">
                                <div class="col-xs-12 text-center" style="margin-top: 100px; color: #3194b3;">
                                    <i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>

                            <div class="row" ng-if="viewCharts">
                                <div class="col-xs-12" ng-if="!viewMode.dayChartDailyView">
                                    <span ng-click="setDayChartDailyView(true)">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> Change to daily view
                                    </span>
                                </div>
                                <div class="col-xs-12" ng-if="viewMode.dayChartDailyView">
                                    <span ng-click="setDayChartDailyView(false)">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i> Change to monthly view
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12" style="min-height: 300px; height: 90vh;">
                                    <canvas id="line"
                                            height="100%"
                                            class="chart chart-line"
                                            chart-data="dayChart.data"
                                            chart-labels="dayChart.labels"
                                            chart-series="dayChart.series"
                                            chart-options="dayChart.options"
                                            chart-dataset-override="dayChart.datasetOverride"
                                            chart-click="onClick"
                                            chart-colors="dayChart.colors">
                                    </canvas>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="races">
                        <md-content class="md-padding">
                            <div class="row" ng-if="!viewCharts">
                                <div class="col-xs-12 text-center" style="margin-top: 100px; color: #3194b3;">
                                    <i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12" style="min-height: 300px; height: 90vh;">
                                    <canvas id="pie"
                                            height="100%"
                                            class="chart chart-pie"
                                            chart-data="raceChart.data"
                                            chart-labels="raceChart.labels"
                                            chart-options="raceChart.options"
                                            chart-colors="raceChart.colors">
                                    </canvas>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="genders">
                        <md-content class="md-padding">
                            <div class="row" ng-if="!viewCharts">
                                <div class="col-xs-12 text-center" style="margin-top: 100px; color: #3194b3;">
                                    <i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>

                            <div class="row" ng-if="viewCharts">
                                <div class="col-xs-12" ng-if="!viewMode.genderChartDailyView">
                                    <span ng-click="setGenderChartDailyView(true)">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> Change to daily view
                                    </span>
                                </div>
                                <div class="col-xs-12" ng-if="viewMode.genderChartDailyView">
                                    <span ng-click="setGenderChartDailyView(false)">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i> Change to monthly view
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12" style="min-height: 300px; height: 90vh;">
                                    <canvas id="bar"
                                            height="100%"
                                            class="chart chart-bar"
                                            chart-data="genderChart.data"
                                            chart-labels="genderChart.labels"
                                            chart-series="genderChart.series"
                                            chart-options="genderChart.options"
                                            chart-colors="genderChart.colors">
                                    </canvas>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>
</main>