<div ng-include="'app/components/shared/header.html'"></div>

<main class="container error">
    <div class="content">
        <div class="row">
            <img src="assets/images/error-cover.jpg">
            <div class="col-xs-12 text">
                <p>404</p>
                <p>Page not found</p>
            </div>
        </div>
    </div>
</main>