<div ng-include="'app/components/shared/header.html'"></div>

<main class="container map" dom-on-create="configElements()">
    <div class="content">
        <!--<div class="row">
            <div class="col-xs-12">
                <div class="social">
                    <i class="fa fa-2x fa-facebook"></i>
                    <i class="fa fa-2x fa-google-plus"></i>
                    <i class="fa fa-2x fa-twitter"></i>
                    <i class="fa fa-2x fa-at"></i>
                </div>
                <div class="user">
                    <span>First name</span>
                    <span>Last name</span>
                    <span>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Placeholder_no_text.svg/1024px-Placeholder_no_text.svg.png">
                    </span>
                </div>
            </div>
        </div>-->
        <div class="row" ng-if="$state.current.name == 'map'">
            <div class="">
                <div id="map">
                    <ui-gmap-google-map center="map.center" zoom="map.zoom">
                        <ui-gmap-marker
                                ng-repeat="data in dataset | geolocationFilter:filters:startDate:endDate track by $index"
                                idKey="$index"
                                coords="{latitude: data.geolocation.coordinates[1], longitude: data.geolocation.coordinates[0]}"
                                options="{icon: 'http://maps.google.com/mapfiles/ms/icons/' + data.marker_color + '-dot.png'}"
                                click="setViolation(data)">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </div>
        </div>
        <div class="row traffic">
            <div class="col-xs-12 col-sm-6 calendar">
                <div class="row" ng-if="startDate || endDate">
                    <div class="col-xs-12 remove-btn">
                        <span ng-click="$parent.startDate = null; $parent.endDate = null;">
                            <i class="fa fa-times" aria-hidden="true"></i> Remove dates
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-lg-6 picker">
                        <div class="row">
                            <div class="col-xs-3">
                                <h5>From</h5>
                            </div>
                            <div class="col-xs-9">
                                <div class="form-group">
                                    <div class='input-group date'>
                                        <input type='text' class="form-control datepicker" readonly
                                               ng-model="startDate"/>
                                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6 picker">
                        <div class="row">
                            <div class="col-xs-3">
                                <h5>To</h5>
                            </div>
                            <div class="col-xs-9">
                                <div class="form-group">
                                    <div class='input-group date'>
                                        <input type='text' class="form-control datepicker" readonly ng-model="endDate"/>
                                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <md-switch ng-model="filters.others" aria-label="Switch 1" class="green">
                            Others
                        </md-switch>
                        <md-switch ng-model="filters.property_damage" aria-label="Switch 1" class="blue">
                            Property damage
                        </md-switch>
                        <md-switch ng-model="filters.personal_injury" aria-label="Switch 1" class="yellow">
                            Personal injury
                        </md-switch>
                        <md-switch ng-model="filters.hazmat" aria-label="Switch 2" class="orange">
                            Hazardous materials
                        </md-switch>
                        <md-switch ng-model="filters.fatal" aria-label="Switch 1" class="red">
                            Fatal
                        </md-switch>
                    </div>
                </div>
            </div>
            <div id="violation-details-placeholder" class="col-xs-12 col-sm-6 description">
                <p>No violation selected. Click on a marker to view more details.</p>
            </div>
            <div id="violation-details" class="col-xs-12 col-sm-6 description" style="display: none;">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <i class="fa fa-map-marker"></i>
                        <!--<span class="low-title">Location:</span>-->
                        <span id="violation-location"></span>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <i class="fa fa-calendar"></i>
                        <!--<span class="low-title">Date:</span>-->
                        <span id="violation-date"></span>
                    </div>
                    <div class="col-xs-12 text-left" style="margin-top: 10px;">
                        <span class="low-title">Description:</span>
                        <span id="violation-description"></span>
                    </div>
                    <div class="col-xs-12" style="margin-top: 10px;">
                        <button class="btn btn-primary" ui-sref="details">
                            View details
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
